.App {
  min-height: 100vh;
}

.App-header {
  padding-top: 80px;
  margin-left: 98px;
}

.nav-button {
  background-color: #2151a8;
  border: none;
}

.launch-button {
  border: none;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 169px;
  height: 54px;
  background: #df7100;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  margin-top: 37px;
  margin-bottom: 37px;
}

.landing-text {
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

.links {
  width: 42px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: white;
  text-decoration: none;
}

.ml-25 {
  margin-left: 25px;
}

.body-wrapper {
  margin-left: 98px;
}

@media (max-width: 575.98px) {
  .body-wrapper,
  .App-header {
    margin-left: 24px;
  }

  .App-header {
    padding-top: 34px;
  }

  .body-wrapper {
    margin-top: 2rem !important;
  }
}
