#root {
  margin: 0;
  color: #ffffff;
  background: linear-gradient(
    90deg,
    #2151a8 47.31%,
    rgba(3, 100, 246, 0.101499) 114.92%,
    rgba(0, 102, 255, 0) 121.74%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
